USE [master]
GO
/****** Object:  Database [Project_SWD392]    Script Date: 7/9/2023 8:45:51 PM ******/
CREATE DATABASE [Project_SWD392]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Project_SWD392].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Project_SWD392]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 7/9/2023 8:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Detail] [nvarchar](max) NOT NULL,
	[FeedbackStatus] [int] NOT NULL,
	[Star] [int] NOT NULL,
	[DateFeedback] [date] NOT NULL,
	[ReservationID] [int] NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicine]    Script Date: 7/9/2023 8:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine](
	[MedicineID] [int] IDENTITY(1,1) NOT NULL,
	[MedicineName] [nvarchar](250) NOT NULL,
	[Price] [float] NOT NULL,
	[Country] [nvarchar](250) NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[Detail] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Medicine] PRIMARY KEY CLUSTERED 
(
	[MedicineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 7/9/2023 8:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[PostID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[UserID] [int] NOT NULL,
	[Image] [nvarchar](250) NOT NULL,
	[Date] [date] NOT NULL,
	[Status] [int] NOT NULL,
	[Category] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[PostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prescription]    Script Date: 7/9/2023 8:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescription](
	[PrescriptionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[MedicineID] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[Note] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Prescription] PRIMARY KEY CLUSTERED 
(
	[PrescriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 7/9/2023 8:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[Date] [date] NOT NULL,
	[Status] [int] NOT NULL,
	[BeginTime] [date] NOT NULL,
	[TotalCost] [float] NOT NULL,
 CONSTRAINT [PK_Reservation] PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservationDetail]    Script Date: 7/9/2023 8:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationDetail](
	[PrescriptionID] [int] IDENTITY(1,1) NOT NULL,
	[ReservationID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[StaffID] [int] NOT NULL,
	[NameSale] [nvarchar](max) NOT NULL,
	[ChildrenName] [nvarchar](250) NOT NULL,
	[Age] [int] NOT NULL,
 CONSTRAINT [PK_ReservationDetail] PRIMARY KEY CLUSTERED 
(
	[PrescriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 7/9/2023 8:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 7/9/2023 8:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](250) NOT NULL,
	[Detail] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](250) NOT NULL,
	[Image] [nvarchar](250) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Price] [float] NOT NULL,
	[Discount] [int] NOT NULL,
	[Rate] [float] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Setting]    Script Date: 7/9/2023 8:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setting](
	[SettingID] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](250) NOT NULL,
	[Status] [int] NOT NULL,
	[Href] [nvarchar](250) NOT NULL,
	[TypeID] [int] NOT NULL,
 CONSTRAINT [PK_Setting] PRIMARY KEY CLUSTERED 
(
	[SettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slider]    Script Date: 7/9/2023 8:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slider](
	[SliderID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](250) NOT NULL,
	[Image] [nvarchar](250) NOT NULL,
	[BackList] [nvarchar](250) NOT NULL,
	[Status] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_Slider] PRIMARY KEY CLUSTERED 
(
	[SliderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 7/9/2023 8:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/9/2023 8:45:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] NOT NULL,
	[FullName] [nvarchar](250) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[Phone] [nchar](50) NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[Date] [date] NOT NULL,
	[DateNew] [date] NOT NULL,
	[UserName] [nvarchar](250) NOT NULL,
	[Password] [nvarchar](250) NOT NULL,
	[Avatar] [nvarchar](250) NOT NULL,
	[Gender] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackID], [UserID], [Detail], [FeedbackStatus], [Star], [DateFeedback], [ReservationID]) VALUES (1, 6, N'good', 1, 4, CAST(N'2022-07-20' AS Date), 3)
INSERT [dbo].[Feedback] ([FeedbackID], [UserID], [Detail], [FeedbackStatus], [Star], [DateFeedback], [ReservationID]) VALUES (2, 6, N'ko tốt', 1, 1, CAST(N'2022-07-20' AS Date), 2)
INSERT [dbo].[Feedback] ([FeedbackID], [UserID], [Detail], [FeedbackStatus], [Star], [DateFeedback], [ReservationID]) VALUES (3, 6, N'rất tốt', 1, 1, CAST(N'2022-07-20' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicine] ON 

INSERT [dbo].[Medicine] ([MedicineID], [MedicineName], [Price], [Country], [ExpiryDate], [Detail], [Image]) VALUES (2, N'Crestor (rosuvastatin)', 18.2, N'U.S', CAST(N'2025-12-12' AS Date), N'Crestor drug with the ingredient rosuvastatin is a statin drug that works to reduce the level of low-density lipoprotein cholesterol (LDL) in the blood, and at the same time fight atherosclerotic diseases.', N'img/Medicine/crestor-20mg-28v-2-1.jpg')
SET IDENTITY_INSERT [dbo].[Medicine] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[Prescription] ON 

INSERT [dbo].[Prescription] ([PrescriptionID], [UserID], [MedicineID], [Amount], [Note]) VALUES (1, 6, 1, 3, N'Ã¡d')
INSERT [dbo].[Prescription] ([PrescriptionID], [UserID], [MedicineID], [Amount], [Note]) VALUES (2, 6, 1, 98, N'Ã¡d')
INSERT [dbo].[Prescription] ([PrescriptionID], [UserID], [MedicineID], [Amount], [Note]) VALUES (3, 6, 3, 12, N'asdfgh')
SET IDENTITY_INSERT [dbo].[Prescription] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservation] ON 

INSERT [dbo].[Reservation] ([ReservationID], [Date], [Status], [BeginTime], [TotalCost]) VALUES (1, CAST(N'2022-07-20' AS Date), 1, CAST(N'2022-07-21' AS Date), 100)
INSERT [dbo].[Reservation] ([ReservationID], [Date], [Status], [BeginTime], [TotalCost]) VALUES (2, CAST(N'2022-07-20' AS Date), 1, CAST(N'2022-07-20' AS Date), 200)
INSERT [dbo].[Reservation] ([ReservationID], [Date], [Status], [BeginTime], [TotalCost]) VALUES (3, CAST(N'2022-07-20' AS Date), 1, CAST(N'2022-07-14' AS Date), 300)
SET IDENTITY_INSERT [dbo].[Reservation] OFF
GO
SET IDENTITY_INSERT [dbo].[ReservationDetail] ON 

INSERT [dbo].[ReservationDetail] ([PrescriptionID], [ReservationID], [ServiceID], [UserID], [StaffID], [NameSale], [ChildrenName], [Age]) VALUES (1, 1, 1, 6, 4, N'7:30', N'a', 1)
INSERT [dbo].[ReservationDetail] ([PrescriptionID], [ReservationID], [ServiceID], [UserID], [StaffID], [NameSale], [ChildrenName], [Age]) VALUES (2, 2, 2, 6, 4, N'7:30', N'3', 2)
INSERT [dbo].[ReservationDetail] ([PrescriptionID], [ReservationID], [ServiceID], [UserID], [StaffID], [NameSale], [ChildrenName], [Age]) VALUES (3, 3, 3, 6, 4, N'7:30', N'1', 5)
SET IDENTITY_INSERT [dbo].[ReservationDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Staff')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (3, N'Manager')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Service] ON 

SET IDENTITY_INSERT [dbo].[Service] OFF
GO
SET IDENTITY_INSERT [dbo].[Setting] ON 

INSERT [dbo].[Setting] ([SettingID], [Value], [Description], [Status], [Href], [TypeID]) VALUES (8, N'Reservations', N'manager all reservation of staff', 1, N'reservation', 1)
INSERT [dbo].[Setting] ([SettingID], [Value], [Description], [Status], [Href], [TypeID]) VALUES (9, N'Prescription', N'manager all prescription of customer', 1, N'prescription', 1)
INSERT [dbo].[Setting] ([SettingID], [Value], [Description], [Status], [Href], [TypeID]) VALUES (10, N'The History Of Examination', N'Lich su kham cua Customer', 1, N'medical', 1)
SET IDENTITY_INSERT [dbo].[Setting] OFF
GO
SET IDENTITY_INSERT [dbo].[Slider] ON 

INSERT [dbo].[Slider] ([SliderID], [Title], [Image], [BackList], [Status], [UserID]) VALUES (2, N'aaaa', N'post4.jpg', N'aaaaaa', 1, 1)
INSERT [dbo].[Slider] ([SliderID], [Title], [Image], [BackList], [Status], [UserID]) VALUES (3, N'ttewtet', N'post4.jpg', N'3333333', 1, 1)
SET IDENTITY_INSERT [dbo].[Slider] OFF
GO
SET IDENTITY_INSERT [dbo].[Type] ON 

INSERT [dbo].[Type] ([TypeID], [TypeName]) VALUES (1, N'Staff')
INSERT [dbo].[Type] ([TypeID], [TypeName]) VALUES (2, N'Customer')
INSERT [dbo].[Type] ([TypeID], [TypeName]) VALUES (3, N'Manager')
SET IDENTITY_INSERT [dbo].[Type] OFF
GO
INSERT [dbo].[User] ([UserID], [FullName], [Address], [Phone], [Email], [Date], [DateNew], [UserName], [Password], [Avatar], [Gender], [RoleID], [Status]) VALUES (1, N'ChildrenCare', N'FPT', N'0987654321                                        ', N'Admin@Gmail.com', CAST(N'2001-01-01' AS Date), CAST(N'2001-02-02' AS Date), N'Admin', N'12345', N'img/img_user/admin.jpg', 1, 1, 1)
INSERT [dbo].[User] ([UserID], [FullName], [Address], [Phone], [Email], [Date], [DateNew], [UserName], [Password], [Avatar], [Gender], [RoleID], [Status]) VALUES (2, N'Trịnh Đình Thái', N'Hà Nội', N'0987654321                                        ', N'ThaiTDHE153161@fpt.edu.vn', CAST(N'2001-01-01' AS Date), CAST(N'2001-01-01' AS Date), N'thai', N'12345', N'img/img_user/user1.jpg', 1, 3, 1)
INSERT [dbo].[User] ([UserID], [FullName], [Address], [Phone], [Email], [Date], [DateNew], [UserName], [Password], [Avatar], [Gender], [RoleID], [Status]) VALUES (3, N'Lê Minh Vũ', N'Hà Nội', N'0987654321                                        ', N'VuLMHE153202@fpt.edu.vn', CAST(N'2001-01-01' AS Date), CAST(N'2001-01-01' AS Date), N'vu123', N'12345', N'img/img_user/user2.jpg', 1, 3, 1)
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Reservation] FOREIGN KEY([ReservationID])
REFERENCES [dbo].[Reservation] ([ReservationID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Reservation]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_User]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_User]
GO
ALTER TABLE [dbo].[Prescription]  WITH CHECK ADD  CONSTRAINT [FK_Prescription_Medicine] FOREIGN KEY([MedicineID])
REFERENCES [dbo].[Medicine] ([MedicineID])
GO
ALTER TABLE [dbo].[Prescription] CHECK CONSTRAINT [FK_Prescription_Medicine]
GO
ALTER TABLE [dbo].[ReservationDetail]  WITH CHECK ADD  CONSTRAINT [FK_ReservationDetail_Reservation] FOREIGN KEY([ReservationID])
REFERENCES [dbo].[Reservation] ([ReservationID])
GO
ALTER TABLE [dbo].[ReservationDetail] CHECK CONSTRAINT [FK_ReservationDetail_Reservation]
GO
ALTER TABLE [dbo].[ReservationDetail]  WITH CHECK ADD  CONSTRAINT [FK_ReservationDetail_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Service] ([ServiceID])
GO
ALTER TABLE [dbo].[ReservationDetail] CHECK CONSTRAINT [FK_ReservationDetail_Service]
GO
ALTER TABLE [dbo].[ReservationDetail]  WITH CHECK ADD  CONSTRAINT [FK_ReservationDetail_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[ReservationDetail] CHECK CONSTRAINT [FK_ReservationDetail_User]
GO
ALTER TABLE [dbo].[Setting]  WITH CHECK ADD  CONSTRAINT [FK_Setting_Type] FOREIGN KEY([TypeID])
REFERENCES [dbo].[Type] ([TypeID])
GO
ALTER TABLE [dbo].[Setting] CHECK CONSTRAINT [FK_Setting_Type]
GO
ALTER TABLE [dbo].[Slider]  WITH CHECK ADD  CONSTRAINT [FK_Slider_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Slider] CHECK CONSTRAINT [FK_Slider_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
